* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

p {
  font-size: 17px;
}

header {
  height: 7vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  text-decoration: none;
  user-select: none;
  font-size: 20px;
  transition: all 1s;
  color: #fff;
}

.links ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.links a:hover {
  color: red;
}

.logo img {
  width: 120px;
  height: 30px;
  position: absolute;
  left: 10vw;
  top: 2vh;
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 15px;
  width: 200px;
  height: 50px;
  background-color: red;
  border-radius: 5px;
  position: absolute;
  top: 1vh;
  right: 6vw;
  transition: all 1s;
}

.botao:hover {
  color: #000;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 80px;
  width: 100vw;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  width: 100vw;
  height: 100vh;
  padding: 100px;
  background-color: #fff;
  background-image: url(img/programacao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #fff;
}

/* FPOO */
.fpoo {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #98fb98;
  gap: 100px;
}

.video-fpoo {
  width: 400px;
  height: 300px;
}

.fpoo img {
  width: 400px;
  height: 450px;
}

.fpoo .bloco1 img {
  position: absolute;
  right: 40px;
  top: 1150px;
}

.video-fpoo {
  position: absolute;
  right: 40px;
  top: 1620px;
}

.fpoo .bloco1 {
  margin-left: 50px;
  max-width: 60vw;
  flex-direction: co;
}

.fpoo .bloco2 {
  margin-left: 50px;
  margin-top: 100px;
  max-width: 90vw;
}

.fpoo p {
  max-width: 50vw;
  margin-top: 20px;
}

.fpoo h3 {
  max-width: 50vw;
}

/* LIMA */
.lima {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #ffffe0;
  gap: 50px;
}

.lima p {
  max-width: 88vw;
  margin-top: 20px;
}

.lima .bloco1,
.bloco2 {
  margin-left: 6.5vw;
}

.lima img {
  width: 500px;
  height: 350px;
}

.video-lima {
  width: 500px;
  height: 350px;
}

.lima .bloco3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* SOP */
.sop {
  height: 100vh;
  width: 100vw;
  padding: 15px;
  background-color: #f1dbf9;
}

h3 {
  font-size: 40px;
}

.video-sop {
  width: 350px;
  height: 250px;
  margin-left: 0;
}

.sop .bloco1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 90vw;
  margin-left: 4vw;
}

.sop .bloco2 {
  display: flex;
  justify-content: space-around;
  margin-top: 7vh;
  margin-left: 0px;
}

.sop .bloco2 h3 {
  font-size: 30px;
  margin-top: 20px;
  max-width: 350px;
}

.sop .bloco2 p {
  margin-top: 10px;
  max-width: 350px;
}

/* HARE */
.hare {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.hare h2 {
  background-color: #ffe3d8;
  margin-top: 0;
}

.hare p {
  max-width: 45vw;
}

.hare .bloco-hare {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hare .item-bloco {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 90px;
  background-color: #ffe3d8;
}

.hare img,
.video-hare {
  width: 300px;
  height: 250px;
  margin-left: 30px;
}

footer {
  height: 50px;
  width: 100vw;
  text-align: center;
  background-color: #000;
  color: #fff;
}

footer p {
  margin-top: 10px;
}
