* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
}

header {
  height: 7vh;
  width: 100vw;
  background-color: #000;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.links a {
  color: #242424;
  text-decoration: none;
  user-select: none;
  font-size: 20px;
  transition: all 0.5s;
  color: #fff;
}

.links ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 0 25vw;
}

.links a:hover {
  color: red;
}

.logo img {
  width: 100px;
  height: 30px;
  margin-left: 5vw;
}

.botao {
  /* display: flex;
  text-decoration: none;
  color: white;
  /* font-size: 25px; */
  /* width: 3px;
  height: 30px;
  background-color: #FCA60F;;
  border-radius: 5px;
  padding: 0 50vw; */ 
}

h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 80px;
}

.home {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 30px;
  width: 100%;
  height: 100vh;
  padding: 100px;
  background-color: #fff;
  background-image: url(img/programacao.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: #fff;
}

/* FPOO */
.fpoo {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  height: 100vh;
  background-color: #98fb98;
}

.fpoo .bloco1,
.fpoo .bloco2 {
  padding: 30px; /* Só coloquei pra ficar com uma bordinha em volta */
  max-width: 1000px;
}

.fpoo .texto1,
.texto2 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 300px;
}

.fpoo .texto2 {
  margin-top: -1px;
}

.fpoo .imagem1,
.imagem2 {
  margin-right: -200px;
}

.fpoo .imagem2 {
  margin-top: -40px;
  margin-right: -160px;
}

.fpoo .um .texts {
  display: flex; /* Mudando o display pra flex */
  gap: 30px; /* Espaçamento entre as caixas */
}

img {
  height: 250px;
  width: 350px;
}

.fpoo .dois .texts {
  width: 100%; /* Definindo a largura de 100% para a caixa de texto */
  display: flex; /* Mudando o display pra flex */
  justify-content: space-between; /* Deixando um espaçamento igual entre as caixas */
}

/* LIMA */
.lima {
  width: 100%;
  height: 100vh;
  padding: 15px;
  background-color: #ffffe0;
}

.lima .um,
.lima .dois {
  padding: 30px; /* Só coloquei pra ficar com uma bordinha em volta */
  margin-top: 15px;
}

.lima .um .texts {
  display: flex; /* Mudando o display pra flex */
  gap: 20px; /* Espaçamento entre as caixas */
  margin-left: 150px;
}

.lima .dois .texts {
  width: 100%; /* Definindo a largura de 100% para a caixa de texto */
  display: flex; /* Mudando o display pra flex */
  justify-content: space-between; /* Deixando um espaçamento igual entre as caixas */
}

.lima .imagens {
  display: flex; /* Mudando o display pra flex */
  width: 100%; /* Definindo a largura de 100% para a caixa de texto */
  justify-content: space-around;
  margin-left: 70px;
}

/* SOP */
.sop {
  width: 100vw;
  height: 100vh;
  padding: 15px;
  background-color: #f1dbf9;
}

h3 {
  font-size: 40px;
}

.sop .bloco1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 95vw;
  margin-left: 50px;
}

.sop .bloco2 {
  display: flex;
  width: 100%; 
  justify-content: space-around;
  margin-top: 5vh;
}

.bloco2 h3 {
  font-size: 30px;
  margin-top: 20px;
  max-width: 350px;
}

.bloco2 p {
  margin-top: 10px;
  max-width: 350px;
}

.sop .videos {
   display: flex; /* Mudando o display pra flex */ 
  width: 100%; /*  Definindo a largura de 100% para a caixa de texto  */
  justify-content: space-around;
}

/* HARE */
.hare {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
}

.hare .item-hare-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hare .item-hare {
  display: flex;
  background-color: #ffe3d8;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.hare img {
  height: 80%;
}

footer {
  height: 30px;
  width: 100%;
  text-align: center;
  ;
  height: 40px;
  background-color: #ffe3d8;
}
